<div class="container">
  <div class="jumbotron d-flex justify-content-center align-items-center fdir text-center">
    <h1 class="display-4">Purchase Cancelled</h1>
    <p class="lead para">Be sure to check out other listings to improve your knowledge with various programming languages!</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/" role="button">Return To Home Page</a>
  </div>
</div>