<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <h1 class="display-4">Code Guides</h1>
      <p class="lead">Welcome to Code Guides, a platform for developers to connect with tutors for respective programming languages they wish to learn!</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="#" role="button">Listings</a>
    </div>
    <div class="col-md-6">
      <%= image_tag "hero1", class: "home-image"%>
    </div>
  </div>
</div>
