<h1>Editing Programming Language</h1>

<%= render 'form', programming_language: @programming_language %>

<%= link_to 'Show', @programming_language, class: "btn btn-secondary " %> |
<%= link_to 'Back', :back, class: "btn btn-secondary " %>
