// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home-image{
  width: 50%;
}

#home-para{
  width: 50%;
}

.name{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 10px;
  color: white;
}

.name2{
  margin-left: -10px;
}

